interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ws.audioscrobbler.com/2.0/?format=json&method=user.getrecenttracks&user=diegodukao
  response:
    body: {string: "{\"recenttracks\":{\"track\":[{\"artist\":{\"#text\":\"Boogarins\"\
        ,\"mbid\":\"46713d05-4143-4704-a9c3-71b482a13944\"},\"name\":\"Benzin\",\"\
        streamable\":\"0\",\"mbid\":\"\",\"album\":{\"#text\":\"Manual\",\"mbid\"\
        :\"\"},\"url\":\"https://www.last.fm/music/Boogarins/_/Benzin\",\"image\"\
        :[{\"#text\":\"https://lastfm-img2.akamaized.net/i/u/34s/06f6860e5d7388fac8306f6518ddf3e3.png\"\
        ,\"size\":\"small\"},{\"#text\":\"https://lastfm-img2.akamaized.net/i/u/64s/06f6860e5d7388fac8306f6518ddf3e3.png\"\
        ,\"size\":\"medium\"},{\"#text\":\"https://lastfm-img2.akamaized.net/i/u/174s/06f6860e5d7388fac8306f6518ddf3e3.png\"\
        ,\"size\":\"large\"},{\"#text\":\"https://lastfm-img2.akamaized.net/i/u/300x300/06f6860e5d7388fac8306f6518ddf3e3.png\"\
        ,\"size\":\"extralarge\"}],\"@attr\":{\"nowplaying\":\"true\"}},{\"artist\"\
        :{\"#text\":\"Boogarins\",\"mbid\":\"46713d05-4143-4704-a9c3-71b482a13944\"\
        },\"name\":\"Falsa Folha de Rosto\",\"streamable\":\"0\",\"mbid\":\"\",\"\
        album\":{\"#text\":\"Manual\",\"mbid\":\"\"},\"url\":\"https://www.last.fm/music/Boogarins/_/Falsa+Folha+de+Rosto\"\
        ,\"image\":[{\"#text\":\"https://lastfm-img2.akamaized.net/i/u/34s/06f6860e5d7388fac8306f6518ddf3e3.png\"\
        ,\"size\":\"small\"},{\"#text\":\"https://lastfm-img2.akamaized.net/i/u/64s/06f6860e5d7388fac8306f6518ddf3e3.png\"\
        ,\"size\":\"medium\"},{\"#text\":\"https://lastfm-img2.akamaized.net/i/u/174s/06f6860e5d7388fac8306f6518ddf3e3.png\"\
        ,\"size\":\"large\"},{\"#text\":\"https://lastfm-img2.akamaized.net/i/u/300x300/06f6860e5d7388fac8306f6518ddf3e3.png\"\
        ,\"size\":\"extralarge\"}],\"date\":{\"uts\":\"1526443227\",\"#text\":\"16\
        \ May 2018, 04:00\"}},{\"artist\":{\"#text\":\"Boogarins\",\"mbid\":\"46713d05-4143-4704-a9c3-71b482a13944\"\
        },\"name\":\"Mario de Andrade / Selvagem\",\"streamable\":\"0\",\"mbid\":\"\
        \",\"album\":{\"#text\":\"Manual\",\"mbid\":\"\"},\"url\":\"https://www.last.fm/music/Boogarins/_/Mario+de+Andrade+%2F+Selvagem\"\
        ,\"image\":[{\"#text\":\"https://lastfm-img2.akamaized.net/i/u/34s/06f6860e5d7388fac8306f6518ddf3e3.png\"\
        ,\"s[...]
